
.fit{
    width: 80%;
  }
  .fit5{
    width: 50%;
  }
  .fitplus{
    width: 100%;
  }

  .fit3{
    width: 30%;
  }
  
  .mp-3{
    margin-top: 3rem;
  }
  
  
  .opacity8{
    opacity: 0.8;
  }
  
  .bg-primary {
    background-color: #04c25d !important;
}
a {
    color: #04c25d;
}
a:hover {
    color: #20785c;
    text-decoration: underline;
}
  /***must **/

.text-primary {
    color: #04c25d !important;
}

.code{
    color:#999;
background-color:#dadada;
    padding: 1rem;
}