




.mp-3{
  margin-top: 3rem;
}


.opacity8{
  opacity: 0.8;
}


/***must **/
header.masthead .bg-circle {
  background: linear-gradient(0deg,#04C25D 0,#F8BD00 100%);
}
div.masthead .bg-circle {
  background: linear-gradient(0deg,#04C25D 0,#F8BD00 100%);
}
header.masthead {
  background: linear-gradient(0deg,#04C25D 0,#F8BD00 100%);
}

.rounded-circle {
    border-radius: 0%!important;
}

.showcase .showcase-text {
    padding: 3rem;
  }
  
  .showcase-img {
    min-height: 30rem;
   border: 10px solid #fff;
    background-size: cover;
  }
  
  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }
.border{
    border: 2px solid #999;
}

div.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(5rem + 72px);
    padding-bottom: 7rem;
    background: linear-gradient(0deg,#04C25D 0,#F8BD00 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
  }
  div.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(3rem + 52px);
    padding-bottom: 7rem;
    background: linear-gradient(0deg,#04C25D 0,#F8BD00 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
}
  div.masthead .masthead-content {
    z-index: 1;
    position: relative;
  }
  
  div.masthead .masthead-content .masthead-heading {
    font-size: 4rem;
  }
  
  div.masthead .masthead-content .masthead-subheading {
    font-size: 2rem;
  }
  
 
  
  @media (min-width: 992px) {
    div.masthead {
      padding-top: calc(10rem + 55px);
      padding-bottom: 10rem;
    }
    div.masthead .masthead-content .masthead-heading {
      font-size: 6rem;
    }
    div.masthead .masthead-content .masthead-subheading {
      font-size: 4rem;
    }
  }